// 自定表格样式
.n-table-custom-css {
  width: 100%;
  &.#{$customNameSpace}-table {
    thead {
      > tr {
        > th {
          //background-color:  #f0f2f5 !important;
        }
      }
    }
  }
  // 隐藏除了第一行的右侧边框
  &.#{$customNameSpace}-table--border{
    thead {
      > tr {
        > th {
          //border-right: 1px solid  !important;
        }
      }
    }
    .#{$customNameSpace}-table__cell {
      //border-right: none ;
    }
  }
}
.#{$customNameSpace}-table {
  // 表格某行列没有数据的情况下，显示--
  tbody td .cell:empty::after {
    content: '--';
  }
  //
  .#{$customNameSpace}-popper {
    max-width: 350px;
  }
}
